@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

// Custom colors.
$dark-blue: #162a5c;
$link-blue: #007bff;
$green-status: #5ccaa7;
$credit-card: #1d1348;
$gold-yellow: #febd3d;
$learn-dark-blue: #1a2b4b;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  box-sizing: border-box;
  margin: 0;

  // utilities
  .dark-blue-text {
    color: $dark-blue !important;
  }

  .dark-blue-bg {
    background: $dark-blue !important;
  }

  .green-status-bg {
    background-color: $green-status !important;
  }

  .green-status-text {
    color: $green-status !important;
  }

  .w-fit-content {
    width: fit-content !important;
  }
  
  .overlap {
    margin-left: -16px !important;
  }

  .rotate-45 {
    transform: rotate(45deg);
  }

  // Hero Section
  #hero {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    .hero-container{
      header {
          nav {
              .menu-container {
                  --bs-border-opacity: 0.5;
              }
          }
      }

      .hero-content {
        padding-bottom: 80px !important;
        .hero-content-body {
          & > div:nth-child(1) {
            @media (min-width: 1200px) {
              width: 50% !important;
            }
          }
          .trusted > .trusted-logos > div {
            width: 30%;
          }
        }

        .credit-card-container {
          overflow: hidden;
          border-bottom-right-radius: 65px !important;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // Crea un punto blanco pequeño y lo repite
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1.5px, transparent 1.5px);
            background-size: 10px 10px; // Controla la distancia entre puntos
            z-index: 0;
          }

          .credit-card {
            background-color: $credit-card;
            .card-header {
              .status {
                background: $green-status;
                border: none;
              }
            }

            .card-body {
              .label {
                font-size: 10px;
              }

              .number {
                @media (min-width: 768px) {
                  font-size: 20px !important;
                }
              }
            }

            .card-footer {
              .info {
                .label {
                  font-size: 10px;
                }
              }
            }
          }
          .view-all-btn {
            color: $link-blue;
            text-decoration: none !important;
            border-bottom: 1px dashed $link-blue;
            padding-bottom: 2px;
            
            i {
              transition: transform 0.3s ease-in-out;
            }
            
            &:hover {
              color: darken($color: $link-blue, $amount: 15%);
              border-bottom-color: darken($color: $link-blue, $amount: 15%);

              i {
                transform: translateX(3px);
              }
            }
          }
        }
      }
    }


  }

  // Home Section
  #home {
    .home-content {
      .awesome-container {
        width: 100%;

        @media (min-width: 768px) {
          width: 50%;
        }
        .projects-container {
          .single-project-container {
            progress {
              /* Removes default browser styling for consistency */
              -webkit-appearance: none;
              appearance: none;
              height: 3px; /* Set a specific height */
              border-radius: 10px;
              background-color: #e0e0e0; /* Fallback background color */
              
              /* Style the background track (WebKit) */
              &::-webkit-progress-bar {
                background-color: #e0e0e0;
                border-radius: 10px;
              }

              /* Style the progress value bar (WebKit/Mozilla) */
              &::-webkit-progress-value {
                background-color: $gold-yellow; /* Green progress bar */
                border-radius: 10px;
                transition: width 0.4s ease; /* Smooth transition for value changes */
              }

              &::-moz-progress-bar {
                background-color: $gold-yellow; /* Green progress bar for Firefox */
                border-radius: 10px;
                transition: width 0.4s ease;
              }
            }
          }
        }

        .play-video-image-container {
          position: relative;
          width: 100%;

          @media (min-width: 768px) {
            position: absolute;
            right: -20%;
            top: -20%;
            width: 50%;
          }

          .play-icon-container {
            top: 5%;
            right: 5%;

            p {
              font-size: 12px;
            }
          }
        }
      }

      .section-info {
        width: 100%;

        @media (min-width: 768px) {
          width: 35%;
        }
      }
    } 
  }

  // Products Section
  #products {
    .products-content {
      @media (min-width: 768px) {
        gap: 15% !important;
      }

      .play-video-image-container {
        position: relative;

        .play-icon-container {
          top: 5%;
          left: 5%;

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  #page {
    .page-content-container {
      @media (min-width: 768px) {
        gap: 15% !important;
      }

      .section-info > button {
        text-decoration-thickness: 2px;   // Control line width
        text-underline-offset: 10px;      // Push underline to the bottom (more)
        
        transition: all 0.3s ease-in-out;
  
        &:hover {
          color: darken($color: $link-blue, $amount: 15%);
          text-underline-offset: 12px;
        }
      }
    }
  }

  // App Section
  #app {
    .app-content-container {
      .section-info {
        button {
          i {
            font-size: 40px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      .play-video-image-container {
        
        .play-icon-container {
          top: 5%;
          left: 5%;

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  #infinite {
    .container {
      .infinite-content-container {
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
    }
  }

  #awards {
    background-color: #fafbff !important;

    .awards-container {
      .awards-cards-container {

        .award-card {
          cursor: pointer;
          transform: translateX(0);
          transition: transform ease-in-out .3s;

          &:hover{
            transform: translateY(-10px);
          }

          .award-learn-btn {
            color: $learn-dark-blue;
            
            text-decoration-thickness: 2px;   // Control line width
            text-underline-offset: 10px;      // Push underline to the bottom (more)
            
            transition: all 0.3s ease-in-out;
      
            &:hover {
              color: lighten($color: $learn-dark-blue, $amount: 30%);
              text-underline-offset: 12px;
            }
          }
        }

        @media (min-width: 768px) {
          .award-card {
            width: 100%;
          }
        }

        @media (min-width: 1200px) {
          .award-card:nth-child(odd) {
            margin-top: 48px;
          }
        }
      }
    }
  }
}